.env
node_modules
discord_bot/recordings/*
wav
converted_files
pcm
finalized/*
__pycache__
transcription.txt
pyrightconfig.json
transcription_service/transcription.txt
transcription_service/transcriptions/*
